@{
    ViewData["Title"] = "Crear Empleado";
}
@model Tarea___MVC.Models.Empleado

<div class="container mt-5">
    <h1 class="nb-4">Crear nuevo Empleado</h1>
</div>

<div class="card nb-4 mx-4">
    <div class="card-body">
        <form asp-action="Crear" method="post">
            <div class="mb-3">
                <label asp-for="Nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" placeholder="Ingresa el Nombre" asp-for="Nombre">
            </div>
            <div class="mb-3">
                <label asp-for="Cargo" class="form-label">Cargo</label>
                <input type="text" class="form-control" placeholder="Ingresa tu Cargo" asp-for="Cargo">
            </div>
            <div class="mb-3">
                <label asp-for="Departamento" class="form-label">Departamento</label>
                <input type="text" class="form-control" placeholder="Ingresa tu Departamento" asp-for="Departamento">
            </div>
            <div class="mb-3">
                <label asp-for="FechaContratacion" class="form-label">Fecha de Contratacion</label>
                <input type="date" class="form-control" placeholder="Ingresa la fecha de contratacion" asp-for="FechaContratacion">
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Agregar Empleado</button>
            </div>
        </form>
    </div>
</div>
